<h1>Articles</h1>
<h3><%= @article.title %></h3>
<p><%= @article.body %></p>
<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "delete", article_path, method: :delete, data: {confirm: "Really delete the article?"}%>
<%= link_to "Edit", edit_article_path(@article)  %>

<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>